@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* CONTAINERS */

.main-page {
  @apply flex grow flex-col items-center p-4 bg-tertiary-tan;
}

.course-page {
  @apply flex grow justify-center overflow-hidden bg-tertiary-tan;
}

.course-card {
  @apply max-w-[880px] w-full h-full overflow-y-scroll no-scrollbar bg-white lg:rounded-t-2xl lg:border-2 lg:border-b-0 border-t-2 border-primary-tan;
}

.course-card-inner {
  @apply flex flex-col lg:px-12 px-4 lg:pt-16 pt-12;
}

.lesson-quiz-content {
  @apply relative h-max flex flex-col gap-8 justify-between pb-[120px];
}

/* BUTTONS */

.main-button {
  @apply w-max h-[48px] flex-none flex items-center gap-2 px-4 bg-primary-blue rounded-md text-white font-rosario;
}

.primary-button {
  @apply bg-secondary-black;
}

.secondary-button {
  @apply flex items-center gap-2 px-4 py-1 bg-white hover:bg-secondary-tan border-2 border-primary-tan rounded-md text-tertiary-black font-rosario font-semibold;
}

.option-button {
  @apply w-full flex items-center justify-between px-4 py-2 bg-tertiary-tan hover:bg-secondary-tan border-2 border-primary-tan rounded-md lg:text-lg text-base text-secondary-black text-left font-rosario;
}

.generate-button {
  @apply w-1/2 h-[88px] flex grow items-center justify-center gap-2 text-lg font-semibold font-rosario rounded-md;
}

.dropdown-button {
  @apply w-full flex flex-row gap-2 px-4 py-2 items-center bg-white hover:bg-secondary-tan text-tertiary-black font-rosario;
}

/* TEXT */

.nav-text {
  @apply text-lg text-secondary-black hover:text-tertiary-black font-rosario font-medium;
}

.h1 {
  @apply lg:text-4xl text-2xl text-secondary-black font-semibold;
}

.h2 {
  @apply lg:text-2xl text-xl text-tertiary-black font-semibold;
}

.lesson-text {
  @apply md:text-xl text-lg text-tertiary-black font-medium font-rosario;
}

.lesson-text h2 {
  @apply text-3xl text-tertiary-black font-bold mt-4;
}

.lesson-text h3 {
  @apply text-2xl text-tertiary-black font-bold mt-4;
}

.lesson-text h4 {
  @apply text-xl text-tertiary-black font-bold mt-4;
}

.lesson-text ol {
  @apply list-inside list-disc my-1;
}

.lesson-text ul {
  @apply list-inside list-disc my-1;
}

.lesson-text li {
  @apply mb-2;
}

.lesson-text li p {
  @apply inline;
}

.lesson-text table {
  @apply w-full my-4;
}

.lesson-text th {
  @apply text-tertiary-black font-bold border-b border-primary-tan;
}

.lesson-text tr {
  @apply border-b-2 border-primary-tan grid grid-flow-col auto-cols-fr gap-2;
}

.lesson-text td {
  @apply text-tertiary-black py-3 text-lg;
}

/* COMPONENTS */

.dropdown {
  @apply max-w-[240px] w-full py-2 bg-white border-2 border-primary-tan shadow-xl rounded-md;
}
